{% extends 'core/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block css %}
    <link rel="stylesheet" href="{% static 'library/css/create_history.css' %}">
    {{ form.media.css }}
{% endblock %}

{% block content %}    


    <form action="" method="POST">
        {% csrf_token %}
        {% for field in form %}
        <div class="field">
            {{ field | safe }}
            {{ field.label_tag }}
        </div>
        {% endfor %}
        <div class="form-btns">
            <button type="submit">Enviar</button>
            <a href="">Cancelar</a>
        </div>
    </form>
</body>
</html>

{% endblock %}

{% block js %}
{{ form.media.js }}
{% endblock %}