{% extends 'base.html' %}

{% block content %}
    <h1>{{ art.title }}</h1>
<p class="lead">{{ art.content }}</p>

<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-light" type="submit" content="">
</form>


{% for coment in comentarios %}
    <div class="card">
        <h2 class="card-header">
            {{ coment.usuario }}
        </h2>
        <p class="card-body">
            {{ coment.contenido }}
        </p>
    </div>
{% endfor %}

{% endblock %}

