{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'forum/css/detail.css' %}">
<!-- Post, cada div que tenga bg white, y este al mismo nivel de la tag body, es un post -->
<div class="bg-white ">
    <!-- Encabezado del post, links para upvotear y downvotear, tags y titulo-->
    <div class="media border-dark border-top border-bottom">
        <!-- links para upvotear y downvotear, asumiendo que hay una vista para cada uno para realizar la accion -->
        <div class="updownvote-box bg-light  py-3 px-3">
            <a href="" class="link-up"><i class="fas fa-sort-up p-0 m-0" style="font-size: 2rem;"></i></a>
            <div></div>
            <span>0</span>
            <div></div>
            <a href="" class="link-down" style="font-size: 2rem;"><i class="fas fa-sort-down m-0 p-0"></i></a>
            <div></div>
            <a href="" class="m-0 p-0"><i class="fas fa-trophy m-0 p-0"></i></a>
        </div>
        <!-- Esqueleto para las tags y titulo -->
        <div class="media-body pl-3 ">

            <h5 class="card-title mt-3 mb-1 h4">Lorem ipsum dolor sit amet consectetur adipisicing elit. </h3>

                <div class="">
                    {% for tag in post.tag.all %}
                    <a class="tag rounded py-1 px-2 {% if forloop.first %}mr-2{% else %}ml-2{% endif %}">{{ tag.name }}</a>
                    {% endfor %}
                </div>

        </div>



    </div>
    <!-- Aqui esta encerrado el contenido del post, ya sea respuesta o pregunta -->
    <div class="p-3">
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae ipsam eligendi cupiditate est
            labore voluptas soluta atque. Delectus, eum, earum officiis facilis cupiditate nobis optio, error odio ipsam
            ab dolores?Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint aspernatur magni ipsam dolorem
            delectus atque veniam nobis dicta distinctio facere dolorum, itaque earum consectetur in illo iure nemo
            recusandae quam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, neque laborum, corrupti, cum
            recusandae sequi ea tenetur rem quidem commodi iusto? Aliquam cum est adipisci doloribus cupiditate. Sunt,
            suscipit fugiat.</p>
    </div>

    <!-- Aqui estan los complementos de la carta, acciones a nivel de post para redes sociales, los comentarios, etc -->
    <div class="card-panel">
        <!-- Box para acciones complementarias -->
        <div class="border-top border-dark py-2">
            <ul class="list-inline ml-4 mb-0">
                <li class="list-inline-item"><a href="#">share</a></li>
                <li class="list-inline-item"><a href="#">edit</a></li>
                <li class="list-inline-item"><a href="#">flag</a></li>
            </ul>
        </div>
        <!-- author info es la caja que guarda toda la infor referente al usuario que posteo -->
        <div class="author-info bg-info py-1 px-3 border-top shadow-sm border-bottom border-dark ml-auto d-flex" style="">
            <div class="p-2">
                <img class="" src="{{ post.user.profile.avatar.url }}" style="width: 40px; height: 40px;" alt="">
            </div>
            <div>
                <a href="#" class="text-dark">{{ post.user.username }}</a>
                <div></div>
                <span class="mr-2"><i class="fas fa-circle text-warning mr-1"></i>56k</span>
                <span><i class="fas fa-crown text-danger mr-1"></i>56k</span>

            </div>
            
            <div class="ml-auto">
                <div class="text-right font-weight-bolder">asked</div>
                <span>{{ post.date_pub }}</span>
            </div>
            <div>
            </div>
        </div>
        <!-- Aqui van todos los comentarios -->
        <div class="post-comments">
            {% for comment in post_comments %}
            <div class="user-comment media m-0 align-items-stretch">
                <div class="text-center bg-light px-3 py-2">
                12&nbsp;<a href="#"><i class="fas fa-sort-up"></i></a>
                    
                </div>
                <div class="media-body py-2 px-3">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet explicabo deserunt, reiciendis alias consequuntur nihil magni voluptatibus commodi temporibus suscipit. Distinctio dolores aut quas perspiciatis sint excepturi porro voluptas dolor. &nbsp;&mdash;&nbsp; <a href="#" class="">Arturo</a> <a href="#">30 Aug 2017</a> 
                </div>

            </div>
            {% endfor %}
            <div class="bg-light text-center py-2">
                <a href="#">add a comment</a>
            </div>
        </div>
    </div>

</div>

<!-- Esta caja es solo para indicar cuantas respuestas tiene la pregunta, y tiene la opcion de ordenar los posts por votos, en vez de fecha de publicacion -->

<!-- ! El resto son copias para darle cuerpo al sitio y testear -->

<div class="bg-light d-flex justify-content-between border-dark border-top border-bottom py-2">
    <span class="font-weight-bold ml-2">2 Answers</span>
    <span class="mr-2">order by <a href="#">votes</a></span>
</div>

<!-- Este es otro post mas es en esencia lo mismo... la diferencia esta en el arreglo de los elementos del encabezado mas nada -->
<div class="bg-white">

    <div class="media border-dark border-top border-bottom align-items-stretch">

        <div class="updownvote-box bg-light d-flex flex-column justify-content-center align-items-center py-3 px-3">
            <a href="" class=" p-0 m-0"><i class="fas fa-sort-up p-0 m-0" style="font-size: 2rem;"></i></a>
            <div></div>
            <span>0</span>
            <div></div>
            <a href="" class="m-0 p-0" style="font-size: 2rem;"><i class="fas fa-sort-down m-0 p-0"></i></a>
            <div></div>
            
        </div>

        <div class="media-body px-3">
            <p class="card-text py-3">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae ipsam eligendi cupiditate est
                labore voluptas soluta atque. Delectus, eum, earum officiis facilis cupiditate nobis optio, error odio ipsam
                ab dolores?Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint aspernatur magni ipsam dolorem
                delectus atque veniam nobis dicta distinctio facere dolorum, itaque earum consectetur in illo iure nemo
                recusandae quam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, neque laborum, corrupti, cum
                recusandae sequi ea tenetur rem quidem commodi iusto? Aliquam cum est adipisci doloribus cupiditate. Sunt,
                suscipit fugiat.
            </p>

        </div>



    </div>
    
    <div class="">
        <div class="border-top border-dark py-2">
            <ul class="list-inline ml-4 mb-0">
                <li class="list-inline-item"><a href="#">share</a></li>
                <li class="list-inline-item"><a href="#">edit</a></li>
                <li class="list-inline-item"><a href="#">flag</a></li>
            </ul>
        </div>
        <div class="author-info bg-info py-1 px-3 border-top shadow-sm border-bottom border-dark ml-auto d-flex" style="">
            <div class="p-2">
                <img class="" src="{{ post.user.profile.avatar.url }}" style="width: 40px; height: 40px;" alt="">
            </div>
            <div>
                <a href="#" style="">{{ post.user.username }}</a>
                <div></div>
                <span class="mr-2"><i class="fas fa-circle mr-1"></i>56k</span>
                <span><i class="fas fa-crown text-danger mr-1"></i>56k</span>

            </div>
            
            <div class="ml-auto">
                <div class="text-right font-weight-bolder">answered</div>
                <span>{{ post.date_pub }}</span>
            </div>
            <div>
            </div>
        </div>
        <div class="post-comments">
            {% for comment in post_comments %}
            <div class="user-comment media m-0 align-items-stretch">
                <div class="text-center bg-light px-3 py-2">
                12&nbsp;<a href="#" class="comment-up"><i class="fas fa-sort-up"></i></a>
                    
                </div>
                <div class="media-body py-2 px-3 text-muted">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet explicabo deserunt, reiciendis alias consequuntur nihil magni voluptatibus commodi temporibus suscipit. Distinctio dolores aut quas perspiciatis sint excepturi porro voluptas dolor. &nbsp;&mdash;&nbsp; <a href="#" class="">Arturo</a> <a href="#">30 Aug 2017</a> 
                </div>

            </div>
            {% endfor %}
            <div class="bg-light text-center py-2">
                <a href="#">add a comment</a>
            </div>
        </div>
    </div>

</div>
{% for answer in answers %}
<div class="bg-white">

    <div class="media border-dark border-top border-bottom align-items-stretch">

        <div class="updownvote-box bg-light d-flex flex-column justify-content-center align-items-center py-3 px-3">
            <a href="" class=" p-0 m-0"><i class="fas fa-sort-up p-0 m-0" style="font-size: 2rem;"></i></a>
            <div></div>
            <span>{{ answer.upvotes }}</span>
            <div></div>
            <a href="" class="m-0 p-0" style="font-size: 2rem;"><i class="fas fa-sort-down m-0 p-0"></i></a>
            <div></div>
            
        </div>

        <div class="media-body px-3">
            <p class="card-text py-3">
                {{ answer.content }}
            </p>

        </div>



    </div>
    
    <div class="">
        <div class="border-top border-dark py-2">
            <ul class="list-inline ml-4 mb-0">
                <li class="list-inline-item"><a href="#">share</a></li>
                <li class="list-inline-item"><a href="#">edit</a></li>
                <li class="list-inline-item"><a href="#">flag</a></li>
            </ul>
        </div>
        <div class="author-info bg-info py-1 px-3 border-top shadow-sm border-bottom border-dark ml-auto d-flex" style="">
            <div class="p-2">
                <img class="" src="{{ post.user.profile.avatar.url }}" style="width: 40px; height: 40px;" alt="">
            </div>
            <div>
                <a href="#" class="">{{ post.user.username }}</a>
                <div></div>
                <span class="mr-2"><i class="fas fa-circle text-warning mr-1"></i>56k</span>
                <span><i class="fas fa-crown text-danger mr-1"></i>56k</span>

            </div>
            
            <div class="ml-auto">
                <div class="text-right font-weight-bolder">answered</div>
                <span>{{ post.date_pub }}</span>
            </div>
            <div>
            </div>
        </div>
        <div class="post-comments">
            {% for comment in post_comments %}
            <div class="user-comment media m-0 align-items-stretch">
                <div class="text-center bg-light px-3 py-2">
                {{ comment.upvotes }}&nbsp;<a href="#"><i class="fas fa-sort-up"></i></a>
                    
                </div>
                <div class="media-body py-2 px-3 text-muted">
                    {{ comment.content }} &nbsp;&mdash;&nbsp; <a href="#" class="">{{ comment.user.username }}</a> <a href="#">{{ comment.date_pub }}</a> 
                </div>

            </div>
            {% endfor %}
            <div class="bg-light text-center py-2">
                <a href="#">add a comment</a>
            </div>
        </div>
    </div>

</div>
{% endfor %}

<div id="user-answer-box">
    <div class="border-bottom border-dark py-3 font-weight-bold">
        Your Answer
    </div>
    <div class="px-3 pt-2">
        <span class="font-weight-bold">Body</span>
        <div class="border-dark  w-100 mt-1">
            <form method="GET" class="">
                <div class="border-top border-dark ">
                    <div class="image-box bg-light pl-2 py-2 border border-dark">
                        <div class="image-wrapper">
                            <i class="fas fa-image text-muted"></i>&nbsp;Add picture
                        </div>
                    </div>
                    <textarea class="w-100 px-2" style="resize: none; height: 100px;"></textarea>
                    
                </div>
                <button class="btn btn-primary mt-4">Post Your Answer</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}