{% extends 'core/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<link rel="stylesheet" href="{% static 'forum/css/doubts.css' %}">
<section id="discussion-section" class="w-100">
    <div class="w-100">

        <div id="heading" class="d-flex mb-4 justify-content-between">
        <h1>Ultimas Publicaciones</h1>
        <a href="#" class="btn btn-primary">Preguntar</a>
        
        </div>

        <div id="clickable-filters" class="d-flex justify-content-center mb-4">
                <a href="" class="rounded btn btn-primary w-25">Hot</a>
                <a href="" class="w-25 btn btn-primary">Month</a>
                <a href="" class="w-25 btn btn-primary">Day</a>
            
        </div>
        <div class="row ">
            <div class="col-lg-4 col-12 my-4">
              <div id="filters" class=" px-4">
                  <h4 class="text-center">Filtros</h4>
                  <div class="">
                      <form method="get">
                          <h4 class="">Titulo</h4>
                          {{ filter.form.title | add_class:"form-control" }}
                          <h4>Usuario</h4>
                          {{ filter.form.user__username | add_class:"form-control" }}
                          <h4>Etiquetas</h4>
                          {{ filter.form.tags | add_class:"form-control" }}
                          <button type="submit" class="btn btn-primary mt-3 w-100 d-block"><i class="fas fa-search"></i></button>
                      </form>
                  </div>
              </div>
            </div>
            <div class="col-lg col-12 my-4">
              <div id="posts" class="p-3 ">
  
                  {% for post in posts %}
                  <div class="post media {% if forloop.first %} mb-5 {% else %} my-5 {% endif %} py-3">
  
                      <div class="" style="">
                        <img class="post-img img-thumbnail" src="{{ post.image.url }}" alt="">
                      </div>
                      <div class="" style="">
                  
                        <div class="media-body">
                          <i class="fas fa-user"></i>
                          <a href="#">{{ post.user.username }}</a>
                          <span>5 minutes read</span>
                        </div>
                  
                        <a href="{% url 'forum_detail' post.id %}" class="link-primary text-decoration-none">
                          <h6 class="d-inline-block h5">{{ post.title }}</h6></a>
                        <div class="lead">
                         
                          <span>Published</span> <span>{{ post.date_created }}</span>
                          <div class="post-tags">
                  
                            {% for tag in post.tag.all %}
                  
                            <span class="badge badge-pill badge-primary">
                              {{ tag.name }}
                            </span>
                  
                            {% endfor %}
                  
                          </div>
                        </div>
                      </div>
                    
                  </div>
                  {% endfor %}
  
              </div>
            </div>

        </div>



{% if posts.has_other_pages %}

<ul class="pagination justify-content-center mt-3">

{% if posts.has_previous %}

<li class=page-item><a class="page-link" href="?page={{ posts.previous_page_number }}">&laquo;</a></li>

{% else %}

<li class="disabled page-item"><a class="page-link">&laquo;</a></li>

{% endif %}

{% for i in posts.paginator.page_range %}

{% if posts.number == i %}

<li class="page-item active"><a class=" page-link" href="?page={{ i }}">{{ i }}</a></li>

{% else %}

<li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>

{% endif %}

{% endfor %}

{% if posts.has_next %}

<li class="page-item"><a href="?page={{ posts.next_page_number }}" class="page-link">&raquo;</a></li>

{% else %}

<li class="page-item disabled"><a href="#" class="page-link">&raquo;</a></li>

{% endif %}
</ul>
{% endif %}
    </div>
</section>
{% endblock %}