{% extends "core/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<link rel="stylesheet" href="{% static 'forum/css/main.css' %}">
  
  <section id="forum-section">
  
      <div id="forum-sections" class="mx-auto row py-4">

        <div id="discussion-section" class="cforum-section col-6">
          <a href="{% url 'section' 'doubts' %}">
            <figure class="figure">
              <img src="{% static 'forum/images/doubts.svg' %}" class="figure-img img-fluid" alt="">
              <figcaption class="figure-caption text-center h2">Dudas</figcaption>
            </figure>
          </a>        
        </div>
        <div id="help-and-support-section" class="cforum-section col-6">
          <a href="{% url 'section' 'support' %}">
            <figure class="figure">
              <img src="{% static 'forum/images/support.svg' %}" class="figure-img img-fluid" alt="">
              <figcaption class="figure-caption text-center h2">Help & Support</figcaption>
            </figure>
          </a>
        </div>
        <div id="contest-section" class="w-100 cforum-section col">
          <a href="{% url 'section' 'contests' %}">
            <figure class="figure">
              <img src="{% static 'forum/images/contests.svg' %}" class="figure-img img-fluid" alt="">
              <figcaption class="figure-caption text-center h2">Concursos</figcaption>
            </figure>
          </a>        
        </div>
  
      </div>

  </section>

{% endblock %}