
body * {
    box-sizing: border-box !important;
}

.history-flex{
    width: 100;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4em 2em;
    grid-auto-rows: min(200px);
    
      .history-card:hover{
        background-color: rgb(22, 20, 20);
        border-left-color: cyan;

        * { 
            color: white;

        }
        .header{
            span{
                color: cyan;
            }
        }
        h6{
            color: cyan;
        }
        
        .tags{
            background-color: cyan;
        }
    }
        .history-card{
            transition: border-left-color .5s ease;

            &, * {
                transition: background-color .5s ease, color .5s ease; 
            }
            border-left: solid 6px royalblue;
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
            padding: 0 6px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            & > *{
                flex-basis: 100%;
            }

            .header {
                img{
                    height: 60px;
                    width: 60px;
                    object-fit: cover;
                    object-position: center;
                    border-radius: 50%;
                }
            }
            h6{
                margin: .6em;
                font-size: 1.3em;

            }
            .tags{
                align-self: flex-end;
                display: flex;
                justify-content: space-between;
                min-height: 30px;
                padding: 4px;
                background-color: rgb(243, 243, 243);
                a{
                    display: inline-block;
                    color: white;
                    background-color: rgba(49, 145, 189, 0.664);

                }
            }
        }
        

    }
    

.user-img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    object-position: center;

}
