$primary: #FFB47B;
$accent: #F78640;

$xs: 320px;
$two-videos: 550px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;


@mixin xs {
    @media (min-width: #{$screen-xs-min}) {
        @content;
    }
}

@mixin two-videos {
    @media (min-width: #{$two-videos}) {
        @content;
    }
}


@mixin xl {
    @media (min-width: #{$xl}) {
        @content;
    }
}

@mixin sm {
    @media (min-width: #{$sm}) {
        @content;
    }
}

@mixin md {
    @media (min-width: #{$md}) {
        @content;
    }
}

@mixin lg {
    @media (min-width: #{$lg}) {
        @content
    };
}

@mixin xl {
    @media (min-width: #{$xl}) {
        @content;
    }
}

h1 {
    color: $primary;
    font-size: 1.8em;
    
    
}

#video-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;

    .video-card {
        background-color: white;
        transition: transform .5s ease;
        position: relative;
        margin: calc(1em + 20px) 0;

       

        video {
            width: 100%;
            object-position: center;
            object-fit: cover;
            
            
            
            box-shadow: 0 16px 8px rgba(0, 0, 0, 0.162);
        }

        

        .video-card-content {
            padding: .8em;
            border: solid 1px $primary;
            border-top: none;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;

            a.video-card-title {
                
                display: inline-block;
                color: $primary;
                font-size: 1.2em;
                line-height: 1em;
                
            }

        }
        
        i {
            color: $primary;

        }
        flex-basis: 100%;
        

        .video-card-tags {
            margin-top: .6em;
            .tag {
                background-color: $primary;
                color: white;
                padding: .2em .4em;
                font-size: .8em;
                margin: .1em;
                border-radius: 3px;
                transition: background-color .3s ease-out;

                &:hover {
                    background-color: $accent;
                }
            }
        }

        
        @include two-videos {
            flex-basis: 45%;
        }
        @include md {
            flex-basis: 30%;
        }
        
    }
    .video-card-float {
        
        transform: translate(0, -40px);
    }
}




      

    


#filters {
    box-sizing: border-box;
    display: flex;
    margin: 0 auto;
    margin-bottom: 1em;
    width: 100%;
    font-size: .8em;
    background-color: white;
    flex-wrap: wrap;
    padding: 1.8em;

    @include md {
        width: 75%;
    }

    h2#filters-title {
        
        width: fit-content;
        color: white;
        font-size: 1.6em;
        margin: 0 auto;
        margin-bottom: .6em;
        text-align: center;
        border-bottom: solid 2px $primary;
        padding: .6em;
        background-color: $primary;
        border-radius: 15px;
      

    }
    
    button[type="submit"] {
        padding: 1em;
        background-color: $primary;
        transition: background-color .3s ease;
        outline: none;
        border: none;
        color: white;
        width: 100%;
        margin-top: 1.8em;
        
        &:hover {
            background-color: $accent;
        }
    }
}
   
#fields {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}
      /**
      * Make the field a flex-container, reverse the order so label is on top.
      */
       
.field {
    box-sizing: border-box;
    display: flex;
    flex-flow: column-reverse;
    margin: 0 1em;
    margin-bottom: 1em;
    width: 40% !important;
    font-size: .8em;
    padding: initial 2em !important;

    & * {
        box-sizing: inherit;
    }

    @include md {
        width: 100%;
    }

    &:not(:first-child):not(:last-child){
        padding: 0 .6em;

        @include md {
            padding: 0;
        }
    }
    &:first-child {
        padding-right: .6em;
    }
    &:last-child {
        padding-left: .6em;
    }

   
    
  /**
  * Add a transition to the label and input.
  * I'm not even sure that touch-action: manipulation works on
  * inputs, but hey, it's new and cool and could remove the 
  * pesky delay.
  */
  label, input {
    transition: all 0.2s;
    touch-action: manipulation;
    
  }
  
  input {

    background-color: white;
    color: black;
    font-size: 1.5em;
    border: 0;
    border-bottom: 3px solid white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: inherit;
    -webkit-appearance: none;
    border-radius: 0;
    border-bottom: 2px solid $primary;
    padding: 0;
    cursor: text;
    
  }
  
  input:focus {
    outline: 0;
    border-bottom: 2px solid #F78640;
  }
  
  label {

    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: black;
    font-size: .8em !important;  
    
  }
  /**
  * Translate down and scale the label up to cover the placeholder,
  * when following an input (with placeholder-shown support).
  * Also make sure the label is only on one row, at max 2/3rds of the
  * field—to make sure it scales properly and doesn't wrap.
  */
  input:placeholder-shown + label, textarea:placeholder-shown + label {
    cursor: text;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform-origin: left bottom;
    transform: translate(0, 2.125rem) scale(1.5);
  }
  /**
  * By default, the placeholder should be transparent. Also, it should 
  * inherit the transition.
  */
  ::-webkit-input-placeholder {
    opacity: 0;
    transition: inherit;
  }
  /**
  * Show the placeholder when the input is focused.
  */
  input:focus::-webkit-input-placeholder {
    opacity: 1;
  }
  /**
  * When the element is focused, remove the label transform.
  * Also, do this when the placeholder is _not_ shown, i.e. when 
  * there's something in the input at all.
  */
  input:not(:placeholder-shown) + label,
  input:focus + label {
    transform: translate(0, 0) scale(1);
    cursor: pointer;
    display: flex;
    justify-content: start;
    width: fit-content;
    background-color: $accent;
    color: white;
    font-weight: bolder;
    border-radius: 5px;
    padding: 0 .4em;

  }
}


