


body{
    box-sizing: border-box !important;
}


.cforum-section{
    
    /*background-color: #FFB47B;*/
    transition: background-color .5s ease;
    transition: color .5s ease;
    padding: 2rem;
    border-width: 4px !important;
    figure{
        text-align: center;
        
        img{
            height: 200px;
            max-width: auto;
            
            
        }
        figcaption{
            font-weight: bolder;
            font-size: 2rem;
            margin-top: 1rem;
            
        }
        
    }
    
    a{
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: unset;
        &:hover *{
            background-color: unset;
            color: unset;
        }
        width: 100%;
        height: 100%;
    }
    &:hover{
        background-color: #F78640;
        color: white;
    }
}
