{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/css/login.css' %}">
    <script defer src="{% static 'js/jquery.min.js' %}"></script>
    <script defer src="{% static 'js/bootstrap.js' %}"></script>
</head>

<body>
    <div class="login-area">

        <div class="image-area">
            <img src="{% static 'accounts/images/user.svg' %}" alt="">
        </div>

        <form  method="POST">

            {% csrf_token %}

            <div class="credential-box">
                <div class="credential-wrapper">
                    <label for="#username-field" class=""><i class="fas fa-user"></i></label>
                    <input type="text" class="" id="#username-field" name="username">
                </div>
            </div>

            <div class="credential-box">
                <div class="credential-wrapper">
                    <label for="#password-field" class=""><i class="fas fa-key"></i></label>
                    <input type="password" id="#password-field" class="" name="password">
                </div>
            </div>


            <div class="" id="buttons-area">
                <button type="submit" class=""><i class="fas fa-key"></i></button>
                <a href="{% url 'home' %}"><i class="fas fa-door-open"></i></a>
            </div>

        </form>

        <div id="links-area">
            <a href="" class="">Forgot your password?</a>
            <div></div>
            <a href="{% url 'signup' %}" class="">New here?</a>
        </div>

    </div>
</body>

</html>