$primary: #FFB47B;
$accent: #F78640;

#userbar {

    display: flex;
    justify-content: flex-end;
    background: linear-gradient(to right, $accent, $primary);

    #notifications {

        .dropdown-menu {
            

            > .btn {
                width: 100%;
                display: block;
                background-color: $primary;
                transition: background-color .3s ease;
                margin: .6em 0;
                color: white;
                
                
                &:hover {
                    background-color: $accent;
                }

            }
        }

        .dropdown-toggle {
            background-color: transparent;
            color: white;
        }

        .notification-item {
            .media-body {
                width: 200px !important;
            }
            p {
                line-height: 1.2;
                font-size: .8em;
            }

            border-bottom: 1px solid black;

            &:last-of-type {
                border: none !important;
            }

            
        }
    }

}