@charset "UTF-8";
html, body {
  box-sizing: border-box;
}

body * {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #FFB47B;
}

.login-area {
  padding: 1rem 2rem;
  background-color: rgba(196, 196, 196, 0.5);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: white;
  border: #F78640 2px solid;
}

.login-area #buttons-area {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.login-area #buttons-area a, .login-area #buttons-area button[type="submit"] {
  text-align: center;
  display: inline-block;
  background-color: #FFB47B;
  color: white;
  padding: .3rem;
  border-radius: 15px;
  margin: 0 1rem;
  width: 80px;
  transition: background .4s ease;
}

.login-area #buttons-area a:hover, .login-area #buttons-area button[type="submit"]:hover {
  background-color: #F78640;
}

.login-area #buttons-area button[type="submit"] {
  outline: none;
  border: none;
  box-shadow: none;
}

.login-area .image-area {
  text-align: center;
  margin: .6rem 0;
}

.login-area .image-area svg {
  fill: white;
  display: inline-block;
  padding: .6rem;
  width: 70px;
  height: 70px;
  object-position: center;
  object-fit: cover;
  border-radius: 50%;
  background-color: #FFB47B;
}

.login-area .credential-box {
  display: flex;
  align-items: center;
}

.login-area #links-area {
  margin-top: 1rem;
}

.login-area #links-area a {
  transition: color .4s ease;
  color: #FFB47B;
  text-decoration: none;
}

.login-area #links-area a:hover {
  color: #F78640;
}

.login-area .credential-box {
  margin: .6rem auto;
}

.login-area .credential-box .credential-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

/**
      * Make the field a flex-container, reverse the order so label is on top.
      */
.field {
  box-sizing: border-box;
  display: flex;
  flex-flow: column-reverse;
  margin-bottom: 1em;
  width: 50%;
  font-size: .8em;
  /**
      * Add a transition to the label and input.
      * I'm not even sure that touch-action: manipulation works on
      * inputs, but hey, it's new and cool and could remove the 
      * pesky delay.
      */
  /**
      * Translate down and scale the label up to cover the placeholder,
      * when following an input (with placeholder-shown support).
      * Also make sure the label is only on one row, at max 2/3rds of the
      * field—to make sure it scales properly and doesn't wrap.
      */
  /**
      * By default, the placeholder should be transparent. Also, it should 
      * inherit the transition.
      */
  /**
      * Show the placeholder when the input is focused.
      */
  /**
      * When the element is focused, remove the label transform.
      * Also, do this when the placeholder is _not_ shown, i.e. when 
      * there's something in the input at all.
      */
}

@media screen and (min-width: 768px) {
  .field {
    width: 100%;
  }
}

.field:not(:first-child):not(:last-child) {
  padding: 0 .6em;
}

@media screen and (min-width: 768px) {
  .field:not(:first-child):not(:last-child) {
    padding: 0;
  }
}

.field:first-child {
  padding-right: .6em;
}

.field:last-child {
  padding-left: .6em;
}

.field label, .field input {
  transition: all 0.2s;
  touch-action: manipulation;
}

.field input {
  background-color: white;
  color: black;
  font-size: 1.5em;
  border: 0;
  border-bottom: 3px solid white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family: inherit;
  -webkit-appearance: none;
  border-radius: 0;
  border-bottom: 2px solid #FFB47B;
  padding: 0;
  cursor: text;
}

.field input:focus {
  outline: 0;
  border-bottom: 2px solid #F78640;
}

.field label {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: black;
  font-size: .8em !important;
}

.field input:placeholder-shown + label, .field textarea:placeholder-shown + label {
  cursor: text;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  transform: translate(0, 2.125rem) scale(1.5);
}

.field ::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}

.field input:focus::-webkit-input-placeholder {
  opacity: 1;
}

.field input:not(:placeholder-shown) + label,
.field input:focus + label {
  transform: translate(0, 0) scale(1);
  cursor: pointer;
  display: flex;
  justify-content: start;
  width: fit-content !important;
  background-color: #F78640;
  color: white;
  font-weight: bolder;
  border-radius: 5px;
  padding: 0 .4em;
}
/*# sourceMappingURL=login.css.map */