html {
  box-sizing: border-box;
}

body, body * {
  box-sizing: inherit;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-area {
  padding: 0 60px;
  padding-bottom: 40px;
}

.login-area .image-area {
  position: relative;
  width: 140px;
  height: 140px;
  margin: 0 auto;
  margin-bottom: 40px;
  pointer-events: none;
}

.login-area .image-area img:empty {
  position: absolute;
  width: 70%;
  height: 70%;
  display: inline-block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.login-area .image-area img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  pointer-events: none;
}

.login-area form button[type="submit"] {
  font-size: 1.3em;
}
