<<<<<<< HEAD
html, body{
    height: 100%;
    width: 100%;
}
body{
    margin: 0;
    padding: 0;
    
}

.bg{
    background-image: url(../images/the-road.jpg);
    background-position: center;
    background-size: cover;
    z-index: -2;
}

.black-layer{
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.404);
}

.cover{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}

.login-form{
    padding: 30px;
    background-color: rgb(58, 58, 58);
    border-radius: 6px;
}
.login-area{
    border-radius: 6px;
    background-color: rgb(28, 32, 30);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 20px 2px rgba(80, 79, 79, 0.801)34, 126, 126);
    
}
.username-area{
    display: flex;
    align-items: center;
}
.password-area{
    display: flex;
    align-items: center;
}

.form-group{
 background-color: rgb(78, 78, 78);
 border-radius: 6px;
 height: auto;
 padding: 1rem 0;
 
 
}

.form-group > div{
    margin: 0 2rem;
    
}
.form-group > div:first-child{
    margin-bottom: 2rem;
}
.form-group > div:last-child{
    margin-top: 2rem;
}

.login-form div input{
    margin: 0 .1rem;
    background-color: transparent;
    border-style: none;
    outline-style: none;
    border-bottom-style: solid;
    border-bottom-color: orange;
    padding-left: .4rem;
    letter-spacing: .015rem;
    color: chartreuse;
}

.login-form div label{
    margin: 0 .1rem;
    letter-spacing: .030rem;
    font-size: 1.3rem;
    color: orange;
    text-transform: capitalize;
    font-weight: bold;
    width: 110px;

    display: inline-block;
    overflow: hidden;

}

.login-area h1{
    
    text-align: center;
    text-transform: capitalize;
    color: orange;
    

}

.login-area a{
    text-transform: capitalize;
    text-decoration: none;
    color: orange;
    font-size: 1rem;
    display: block;
    margin: 1rem 70px;
}
.login-area a:hover{
    text-transform: capitalize;
    text-decoration-style: none;
    color: chartreuse;
    font-size: 1rem;
    display: block;
    margin: 1rem 70px;
}

.login-form button{
    display: block;
    min-width: 80px;
    min-height: 45px;
    background-color: rgb(4, 139, 218);
    border-style: none;
    font-size: 1.4rem;
    letter-spacing: 0.025rem;
    color: whitesmoke;
    margin: 2.5rem auto;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 4px 4px 20px black;
    text-transform: uppercase;
    padding: .5rem;
    
}

.login-form button:active{
    box-shadow: 0 0 10px black;
}

.login-area img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-color: orange;
    border-top-style: solid;
    border-bottom-style: solid;
    padding: 1rem;
    display: inline-block;

}
.image-area{
    text-align: center;
    background-color: rgb(78, 78, 78);
    margin: .5rem 0;
    
}
.links-area{
    
}
=======
html {
  box-sizing: border-box;
}

body, body * {
  box-sizing: inherit;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-area {
  padding: 0 60px;
  padding-bottom: 40px;
}

.login-area .image-area {
  position: relative;
  width: 140px;
  height: 140px;
  margin: 0 auto;
  margin-bottom: 40px;
  pointer-events: none;
}

.login-area .image-area img:empty {
  position: absolute;
  width: 70%;
  height: 70%;
  display: inline-block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.login-area .image-area img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  pointer-events: none;
}

.login-area form button[type="submit"] {
  font-size: 1.3em;
}
>>>>>>> essential_features_l0new0lf
