<<<<<<< HEAD


        body, html{
            height: 100%;
        }
        body{
            
            background-color: black;
            margin: 0;
            padding: 0;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: url(../images/the-road.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .signup-area{
            width: 100vw;
            height: 80%;
            background-color: rgba(110, 110, 108, 0.400);
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
        }
        
        .form-area{
            width: 90%;
            height: 70%;
            display: block;
            
        }
        .form-area > div {
            width: 100%;
            text-align: center;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 59, 15, 0.199);

        }
        .form-area div label{
            text-transform: capitalize;
            display: block;
            text-align: start;
            width: 60%;
            font-size: 1.5rem;
            font-weight: bold;
            color: rgba(255, 255, 255, 0.692);
            margin: 0 auto;
            letter-spacing: 0.025rem;
        }
        .form-area > div input{
            width: 60%;
            background-color: transparent;
            border-style: none;
            outline-style: none;
            border-bottom-style: solid;
            border-bottom-width: 4px;
            border-bottom-color: rgb(3, 151, 94);
            font-size: 1.3rem;
            padding-left: .5rem;
            font-weight: 500;
            color: rgba(255, 255, 255, 0.692);
        }

        
        
        .buttons-div button{
            display: inline-block;
            margin: 1.8rem 2rem;
            background-color: transparent;
            border: none;
            outline: none;
            color: white;
            font-size: 2rem;
            background-color: yellowgreen;
            border-radius: 8px;
            padding: .4rem 1rem;
            cursor: pointer;
            text-transform: uppercase;
        }

        .form-area .buttons-div:first-child button{
            background-color: paleturquoise;
        }
        
        .buttons-div{
            width: 60%;
            display: flex;
            justify-content: space-between;
            margin: 0;
        }

        .form-area label, .form-area input{
            margin: 1rem 0;
        }
        .steps-area{
            width: 100%;
            display: block;
            text-align: center;
        }
        .step{
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.582);
            display: inline-block;
            border-style: none;
            outline-style: none;
            margin: 0 .250rem;
            cursor: pointer;
        }
    
=======
html {
  box-sizing: border-box;
}

body, body * {
  box-sizing: inherit;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

#avatar-field-wrapper {
  position: absolute;
  bottom: 5px;
  right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

#avatar-field-wrapper i {
  background-color: rgba(128, 128, 128, 0.383);
  font-size: 1.2em;
  padding: 6px;
  border-radius: 50%;
  pointer-events: none;
  z-index: 1;
}

#avatar-field-wrapper input[type="file"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

#signUp-area {
  padding: 60px;
  padding-top: 0;
}

@media (min-width: 576px) {
  #signUp-area {
    width: 100% !important;
  }
}

@media (min-width: 992px) {
  #signUp-area {
    width: 60% !important;
  }
}

@media (min-width: 1200px) {
  #signUp-area {
    width: 30% !important;
  }
}

#signUp-area .image-area {
  position: relative;
  width: 140px;
  height: 140px;
  margin: 0 auto;
  margin-bottom: 40px;
}

#signUp-area .image-area img {
  position: absolute;
  width: 70%;
  height: 70%;
  display: inline-block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  object-fit: cover;
  object-position: center;
}

#signUp-area form button[type="submit"] {
  font-size: 1.7em;
}
>>>>>>> essential_features_l0new0lf
