$sm: 556px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xs: 320px;
$primary: #FFB47B;
$accent: #F78640;

@mixin xs {
    @media (min-width:#{$xs}) {
        @content;
    }
}
@mixin sm {
    @media (min-width:#{$sm}) {
        @content;
    }
}
@mixin md {
    @media (min-width:#{$md}) {
        @content;
    }
}
@mixin lg {
    @media (min-width:#{$lg}) {
        @content;
    }
}
@mixin xl {
    @media (min-width:#{$xl}) {
        @content;
    }
}


body{
    
}

#test-section {
    position: relative;

    #ex-controls {
        button.btn[type="button"] {
            background-color: $primary;
            color: white;
            font-size: 2em;
            display: inline-block;
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            transition: background-color .5s ease;
    
            &:hover {
                background-color: $accent;
            }
        }
    
         button#next-btn {
            right: 0;
    
        }
         button#prev-btn {
            left: 0;
        }
    }
}

.exercise {
    width: 75%;
    margin: 0 auto;
    position: relative;
    background-color: white;

    
    .exercise-title {
        font-size: 1.6em;
        color: $primary;
    }

    .exercise-text {
        margin: 1.6em 0;
    }

    .exercise-content {
        line-height: 1.5em;
        margin: 1.6em 0;
        padding: 1.6em;
        
    }
    .exercise-actions {
        background-color: #ffb47b57;
        padding: 1em;
        border-radius: 8px;
        text-align: center;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        
        
        & > * {
            height: 100%;
        }
        
        .form-control {
            width: fit-content;
        }

        button, a {
            font-size: .6em;
            padding: .6em;
            border-radius: 5px;
            color: white;
            margin: 0 .2em;

            @include lg {
                font-size: 1em;
                margin: 0 .6em;
            }
            
        }
        
        form {
          display: flex;
          flex-direction: row-reverse;
            select {
                height: 100% !important;
                display: inline-block;

            }
            button {
                display: inline-block;
            }
        }
        button, a {
            transition: background-color .3s ease;
        }
        button {
            border: none;
            outline: none;
        
           
        }
        a {
            background-color: $primary;
            text-decoration: none;
            &:first-of-type {
                background-color: $primary
                
            }
            &:first-of-type:hover {
                background-color: $accent;
            }
            &:last-of-type {
                background-color: red;
            }
            &:last-of-type:hover {
                background-color: darken(red, 15%);
            }
        }

        @include lg {
            text-align: right;
        }
        
    }
}

#suggestion-box {
    background-color: white;
    text-align: center;

    
    .suggestion {
        font-size: 3em;
        border-radius: 50%;
        color: $primary;
        border: none;
        box-shadow: none;
        outline: none;   
        background-color: transparent;
        padding: 0 !important;
        margin: 0;
        transition: color .3s ease-out;
    
        &:hover {
            
            color: $accent;    
        }
        &:focus {
            border: none;
            box-shadow: none;
            outline: none;
        }
    
    }




}



#radio-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
}
.radio {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $primary;
    margin: 0 .3em;
    cursor: pointer;
    transition: background-color .3s ease;
    

    &.active, &:hover {
        background-color: $accent;
    }
}