$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;


html, body  {
    box-sizing: border-box;
}
body * {
    box-sizing: inherit;
}

#image-area{
    width: fit-content;
    img{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
    }
    #avatar-field-wrapper{
        position: relative;
        overflow: hidden;
        color: white;
        width: fit-content;
        height: fit-content;
        margin-left: auto;
        margin-top: -1rem;
        input{
            opacity: 0;
            position: absolute;
        }
    }
}

form {
     > * {
        margin: .6rem auto;
        
    }
     width: fit-content;
     text-align: center;
}

#signUp-area{
    position: absolute;
    left: 50%;
    width: 320px;
    background-color: rgba(184, 184, 184, 0.534);
    border-radius: 20px;
    top: 50%;
    padding: 20px;
    transform: translate(-50%, -50%);


    input[type="text"], input[type="number"], input[type="email"]{
        border-radius: 15px;
        padding: 0 10px;
        border: none;
        margin: .3rem auto;
    }
    #userpass-box{
        input{
            width: 45%;

            
        }
    }

    #links-area{
        a{
            margin: .6rem;
            text-decoration: none;
            color: orange;
            transition: color .4s ease;
            &:hover{
                color: orangered;
            }
        }
    }

    #buttons-box{
        display: flex;
        justify-content: center;
        margin: 1rem 0;

        button[type="submit"], a{
            background-color: orange;
            display: inline-block;
            width: 80px;
            text-align: center;
            color: white;
            text-decoration: none;
            outline: none;
            padding: .3rem;
            border-radius: 15px;
            margin: 0 1rem;
            transition: background .4s ease;
            &:hover{
                background-color: orangered;
            }
        }
        button[type="submit"]{
            box-shadow: none;
            border: none;
            
        }
    }
}

#puigrade-box{
    input:first-child{
        width: 60%;
    }
    input:last-child{
        width: 30%;
    }
}

.onefield{
    input{
        width: 80%;
    }
}
.twofield{
    input{
        width: 50%;
    }
}


