{% extends 'core/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<link rel="stylesheet" href="{% static 'training/css/exercise.css' %}">
<!-- En esta carta estan los ejercicios, sugerencias y acciones -->

<section id="exercise-section">
  <div class="exercise">
  <div>
    <ul>
      {% for message in messages %}
      <li class="bg-danger">{{ message }}</li>
      {% endfor %}
    </ul>
  </div>
    <div class="exercise-content">
      <h2 class="exercise-title">{{ exercise.name }}</h2>
              <p class="exercise-text">
                  {{ exercise.question }}
              </p>
              <div id="suggestion-box">

                {% for suggestion in exercise.sugestions.all %}
                <button class="suggestion" data-container="body" data-toggle="popover" data-placement="top" data-content="{{ suggestion.text }}" ><i class="fas fa-question-circle "></i></button>
                {% endfor %}
                 
              </div>
          </div>
          
          <div class="exercise-actions">
            <form action="{% url 'exercise' exercise.pk %}" class="" method="POST">
              {% csrf_token %}
              {{ form.points | add_class:"form-control" }}
              <button type="submit" class="btn btn-success" id="auto-qualify-btn">Enviar</button>
              </form>
              <button type="button" class="btn-warning" data-toggle="modal" data-target="#staticBackdrop">Norma de Calificacion</button>
              <a type="button" href="{% url 'render' exercise.pk %}" class="download-btn">Save to PDF <i class="fas fa-download"></i></a>
              <a href="" class="link-danger">Salir</a>
          </div>
     
  </div>
</section>

  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            {{ exercise.qualification_rule }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
         <!-- ! Cuando el estudiante cliquea entiendo significa que la calificacion ya esta en sus manos y puede proceder a realizarla, o sea que hasta que no clickee en entiendo en la norma de calif.. no puede hacer el ejercicio. -->
          <button type="button" class="btn btn-primary" data-dismiss="modal">Entiendo</button>
        </div>
      </div>
    </div>
  </div>
  
  <script>
  $(function () {
  $('[data-toggle="popover"]').popover()
})
  </script>
{% endblock %}