{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'training/css/level_main.css' %}">
<div class="row">
    <div class="col-lg-3 col-12">
        
        <div class="">
            <div class="level-main-card" id="topics-box">
                <div class="">Temas</div>
                <ul class="level-list">

                    {% for topic in topics %}
                        <li class="level-item">
                            <a class="level-link" href="{% url 'level_main' level=actual_level %}?topic1=topic.name">{{ topic.name }}</a>
                        </li>
                    {% endfor %}
                    <!--
                    <li class="level-item">
                        <a class="level-link" href="{% url 'training' %}:?level=1">Mermelada de soja</a>
                    </li>
                    <li class="level-item">
                        <a class="level-link" href="{% url 'training' %}:?level=1">Pan de flauta</a>
                    </li>
                    <li class="level-item">
                        <a class="level-link" href="{% url 'training' %}:?level=1">Tortas a la escabeche</a>
                    </li>
                    <li class="level-item">
                        <a class="level-link" href="{% url 'training' %}:?level=1">Panetela B!orracha</a>
                    </li>
                    -->
                </ul>
            </div>
            <div class="level-main-card" id="levels-box">
                <div class="">Niveles</div>
                <ul class="level-list">
                    {% for level in general_levels %}
                        <li class="level-item">
                            <a class="level-link" href="{% url 'training' %}:?level=1">{{level.name}}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </div>
    <div class="col-lg col-12">
        <div class="d-flex justify-content-between">
            <h1>Lista de Ejercicios</h1>
            <a href="#" class="btn">Hacer Examen</a>
        </div>
        <div id="exercises-list" class="">
                <ul id="file-list">
                    {% for exercise in exercises %}
                    <li class="file-item">
                        <a href="{% url 'exercise' exercise.pk %}" class="file-name"><i class="fas fa-file"></i>{{exercise.name}}</a>
                        <span class="ml-5">Wednesday 12 Jue</span>
                        <span class="ml-auto">
                            <a href="{% url 'exercise' exercise.pk %}" class=""><i class="fas fa-eye"></i></a>
                            <a href="{% url 'render' exercise.pk %}" class=""><i class="fas fa-download"></i></a>
                        </span>
                    </li>    
                    {% endfor %}
                    
                </ul>
            

        </div>
    </div>
</div>

{% endblock %}
