<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{exercise.name}}</title>
    <style>
        body{
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>{{exercise.name}}</h1>
    <p>{{exercise.question}}</p>
    <h2>Norma de Calificacion</h2>
    <p>{{exercise.qualification_rule}}</p>
    <h3>Sugerencias</h3>
    <hr>
    {% for sug in sugs %}
      {{sug.text}}
      <br>
      <hr>
    {% endfor %}
</body>
</html>