{% extends "core/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<link rel="stylesheet" href="{% static 'news/css/main.css' %}">
<section id="news-section" class="">
  
  
  <div id="filters" class="py-2">
    <h2 class="text-center my-3">What are you looking up?</h2>
    
  <form class="form-inline form-row justify-content-center my-3 py-4">
    
    
    <div class="form-group mx-3">
      <label for="{{ filter.form.title.id_for_label }}" class="col-form-label mr-3">Title</label>
      {{ filter.form.title|add_class:"form-control"}}

    </div>

    <div class="form-group mx-3">
      <label for="{{ filter.form.title.id_for_label }}" class="col-form-label mr-3">Content</label>
      {{ filter.form.content|add_class:"form-control" }}

    </div>

    <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button>

</form>
</div>

<div class="py-5 w-75 mx-auto">



{% for new in news.object_list %}

<div class="new media flex-wrap my-4">

    <div class="new-img-box text-center">
      <img class="new-img img-thumbnail" src="{{ new.image.url }}" alt="">
    </div>
    <div class="media-body">

      <div>
        <i class="fas fa-user"></i>
        <a href="#">{{ new.user.username }}</a>
        <span>5 minutes read</span>
      </div>

      <a href="{% url 'new' new.id %}" class="link-primary text-decoration-none embed btn-gp"><h6 class="my-2 h5 d-inline-block">{{ new.title }}</h6></a>
      <div class="lead">
       
        Published <span>{{ new.date_created }}</span>
        <div class="new-tags">

          {% for tag in new.tag.all %}

          <span class="badge badge-pill badge-primary">
            {{ tag.name }}
          </span>

          {% endfor %}

        </div>
      </div>
    </div>
  
</div>

{% endfor %}

{% if news.has_other_pages %}

<ul class="pagination justify-content-center">

{% if news.has_previous %}

<li class=page-item><a class="page-link" href="?page={{ news.previous_page_number }}">&laquo;</a></li>

{% else %}

<li class="disabled page-item"><a class="page-link">&laquo;</a></li>

{% endif %}

{% for i in news.paginator.page_range %}

{% if news.number == i %}

<li class="page-item active"><a class=" page-link" href="?page={{ i }}">{{ i }}</a></li>

{% else %}

<li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>

{% endif %}

{% endfor %}

{% if news.has_next %}

<li class="page-item"><a href="?page={{ news.next_page_number }}" class="page-link">&raquo;</a></li>

{% else %}

<li class="page-item disabled"><a href="#" class="page-link">&raquo;</a></li>

{% endif %}
</ul>
{% endif %}
      
</div>

</div>

{% endblock %}
