{% extends "core/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<link rel="stylesheet" href="{% static 'news/css/main.css' %}">
<section id="news-section" class="">

  
  <div id="filters" class="py-2">
    <h2 class="text-center my-3">What are you looking up?</h2>
    
  <form class="form-inline form-row justify-content-center my-3 py-4">
    
    
    <div class="form-group mx-3">
      <label for="{{ filter.form.title.id_for_label }}" class="col-form-label mr-3">Title</label>
      {{ filter.form.title|add_class:"form-control"}}

    </div>

    <div class="form-group mx-3">
      <label for="{{ filter.form.title.id_for_label }}" class="col-form-label mr-3">Content</label>
      {{ filter.form.content|add_class:"form-control" }}

    </div>

</form>
</div>

<div class="container py-5 bg-light">
{% for new in filter.qs %}
<div class="new border-primary border-bottom border-top py-3">
  <div class="row">
    <div class="col-xl-auto">
      <img class="new-img" src="{{ new.image.url }}" alt="">
    </div>
    <div class="col-xl">
      <div>
        <i class="fas fa-user"></i>
        <a href="#">{{ new.user.username }}</a>
        <span>5 minutes read</span>

      </div>
      <a href="#" class="link-primary text-decoration-none embed btn-gp"><h6 class="my-2 h3 d-inline-block">{{ new.title }}</h6></a>
      <div class="lead">
       
        Published <span>{{ new.date_created }}</span>
        <div class="new-tags">
          {% for tag in new.tag.all %}
          <span class="badge badge-pill badge-primary">{{ tag.name }} s</span>
          {% endfor %}
    

        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
      
      <div class="new border-primary border-bottom border-top py-3">
        <div class="row">
          <div class="col-xl-auto">
            <img class="new-img" src="{% static 'library/img/attention.jpg' %}" alt="">
          </div>
          <div class="col-xl">
            <div>
              <i class="fas fa-user"></i>
              <a href="#">Kakarotto</a>
              <span>5 minutes read</span>

            </div>
            <a href="#" class="link-primary text-decoration-none embed btn-gp"><h6 class="my-2 h3 d-inline-block">This is a new title</h6></a>
            <div class="lead">
             
              Published <span></span>
              <div class="new-tags">
                <span class="badge badge-pill badge-primary">tag</span>
                <span class="badge badge-pill badge-primary">tag</span>
                <span class="badge badge-pill badge-primary">tag</span>
                <span class="badge badge-pill badge-primary">tag</span>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="new border-primary border-bottom border-top py-3">
        <div class="row">
          <div class="col-xl-auto">
            <img class="new-img" src="{% static 'library/img/attention.jpg' %}" alt="">
          </div>
          <div class="col-xl">
            <div>
              <i class="fas fa-user"></i>
              <a href="#">Kakarotto</a>
              <span>5 minutes read</span>

            </div>
            <a href="#" class="link-primary text-decoration-none embed btn-gp"><h6 class="my-2 h3 d-inline-block">This is a new title</h6></a>
            <div class="lead">
             
              Published <span></span>
              <div class="new-tags">
                <span class="badge badge-pill badge-primary">tag</span>
                <span class="badge badge-pill badge-primary">tag</span>
                <span class="badge badge-pill badge-primary">tag</span>
                <span class="badge badge-pill badge-primary">tag</span>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="new border-primary border-bottom border-top py-3">
        <div class="row">
          <div class="col-xl-auto">
            <img class="new-img" src="{% static 'library/img/attention.jpg' %}" alt="">
          </div>
          <div class="col-xl">
            <div>
              <i class="fas fa-user"></i>
              <a href="#">Kakarotto</a>
              <span>5 minutes read</span>

            </div>
            <a href="#" class="link-primary text-decoration-none embed btn-gp"><h6 class="my-2 h3 d-inline-block">This is a new title</h6></a>
            <div class="lead">
             
              Published <span></span>
              <div class="new-tags">
                <span class="badge badge-pill badge-primary">tag</span>
                <span class="badge badge-pill badge-primary">tag</span>
                <span class="badge badge-pill badge-primary">tag</span>
                <span class="badge badge-pill badge-primary">tag</span>

              </div>
            </div>
          </div>
        </div>
      </div>


</div>


</div>
{% endblock %}
