{% extends 'core/base.html' %}
{% load static %}
{% load widget_tweaks %}

    {% block content %}
    <link rel="stylesheet" href="{% static 'news/css/new.css' %}">
    <section id='new-section' class="">
        <img id="new-portrait" src="{{new.image.url}}" alt="">
        
        <div class="container">

            <article class="new-article">
                <h6 class="h1">{{ new.title }}</h6>
                <p>{% lorem 4 %}</p>
    
            </article>
    
            <div id="author-section">
                <img src="{{ new.user.profile.avatar.url }}" alt="" class="author-avatar img-thumbnail">
                <div class="author-content">
                <h6>Publicado por </h6>
               <h6 class="text-center">{{ new.user.username }}</h6>
               <p>{% lorem %}</p>
               <div class="social-media text-center">
                   <h6>Puedes Contactarme por:</h6>
                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                    <a href="#"><i class="fab fa-instagram-square"></i></a>
                    <a href="#"><i class="fab fa-twitter-square"></i></a>
                    <a href="#"><i class="fab fa-pinterest-square"></i></a>
               </div>
                </div>
               
            
            </div>
    
            <div id="comment-section" class="">
                <div class="media">
                    <div class="mr-3">
                    {% if new.user.profile.avatar.url %}
                    <img src="{{ request.user.profile.avatar.url }}" alt="" class="img-thumbnail">
                    {% else %}
                    <img src="{% static 'img/user.svg' %}" alt="" class="img-thumbnail">
                    {% endif %}
                    </div>
                    
                    
                    <div class="media-body">
                        <form method="POST" class='d-flex align-items-stretch'>
                            {% csrf_token %}
                            {{  main_form.content | add_class:"text-area-comment" | attr:"name:user-comment" | attr:"rows:4" | attr:"placeholder:Escribe tu comentario..." }}
                            <!-- <textarea class="text-area-comment" name="user-comment" class="" id="" cols="" rows="4" placeholder="Escribe tu comentario..."></textarea> -->
                            <button class="btn btn-primary ml-2 text-uppercase font-weight-bold rounded" type="submit">submit</button>
                        </form>
                    </div>
                </div>
            </div>
    
            <div id="comments-section" class="my-5">
                <button class="btn btn-primary font-weight-bolder d-block w-100 text-left py-3" data-toggle="collapse" data-target="#user-comments">Comments - 48</button>
                <div id="user-comments" class="collapse w-75 mx-auto py-3">
                    {% for comment in comments %}

                    <div class="media maincomment">
                        <div class="user-info d-flex align-items-center flex-column">
                            <img src="{{ comment.user.profile.avatar.url }}" alt="" class="img-thumbnail mr-3">
                            <div>{{ comment.user.username }}</div>
                            <div class="grades"></div>
                        </div>
                        <div class="media-body">
                            <div>Published {{ comment.date_pub }}</div>
                            <p>{{ comment.content }}</p>
                            <div class="user-actions mt-2">
                            <span class="vote">   
                            <a href="{% url 'votemain' comment.pk %}"><i class="fas fa-arrow-up">{{ comment.upvotes }}</i></a>
                            <a href="{% url 'downmain' comment.pk %}"><i class="fas fa-arrow-down">{{ comment.downvotes }}</i></a>
                            </span>
                            <span class="others">
                            <a class="reply-button" onclick="showCommentBox(event)">Reply</a>
                            <a class="report-button">Report</a>
                            </span>
                            </div>

                            {% for sub_comment in comment.sub_comments.all %}
                            <div class="media subcomment">
                                <img src="{{ sub_comment.user.profile.avatar.url }}" alt="" class="img-thumbnail mr-3">
                                <div class="media-body">
                                    <div>Published {{ sub_comment.date_pub }}</div>
                                    <p>{{ sub_comment.content }}</p>
                                    <div class="user-actions">
                                    <span class="vote">
                                        <a href="{% url 'votesub' sub_comment.pk %}"><i class="fas fa-sort-up">{{ sub_comment.upvotes }}</i></a>
                                        <a href="{% url 'downsub' sub_comment.pk %}"><i class="fas fa-sort-down">{{ sub_comment.downvotes }}</i></a>
                                    </span>
                                    <span class="others">
                                        <a class="reply-button" onclick="showCommentBox(event)">Reply</a>
                                        <a class="report-button">Report</a>

                                    </span>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <div class="user-subcomment hidden mt-3">
                                <form method="POST">
                                    {% csrf_token %}
                                    <img class="img-thumbnail" src="{{ request.user.profile.avatar.url }}" alt="">
                                    {{ sub_form.content | add_class:"text-area-subcomment" | attr:"rows:4" | attr:"placeholder:Escriba su respuesta..." }}
                                    <input type="number" class="d-none" value="{{ comment.pk }}" name="main_comment_pk">
                                    <button class="btn rounded-sm btn-primary" type="submit">Responder</button>
                                </form>
                            </div>
                        </div>


                    </div>
                    {% endfor %}
                </div>
            </div>
            
        </div>
        

    </section>
    <script src="{% static 'news/js/new.js' %}"></script>
    {% endblock %}

