{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'news/css/new.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
    <link rel="stylesheet" href="{% static 'css/all.css'%}">
    <script defer src="{% static 'js/jquery.js' %}"></script>
    <script defer src="{% static 'js/bootstrap.min.js' %}"></script>
    
</head>

<body>
    <section id="notice-section">
        <div class="notice-background-image"></div>
        <div class="opacity-box"></div>
        <div style="height: 100vh; width: 100%;"></div>
        <div class="user-and-title-box">
            <h1 class="text-center">{{new.title}}</h1>
            <p>
                <img src="{{ new.author.avatar.url }}" class="user-profile-picture" alt="">
                @<a href="#">{{ new.author.username }}</a>
            </p>
            <p>Written on 21 August 2020</p>
        </div>

        <div class="container">
            <div class="user-new">
                <!-- Aqui iria el contenido de la noticia del usuario --> 
                {{ new.content }}
            </div>
            <!-- * Todos los comentarios -->
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn text-black btn-block text-left" type="button" data-toggle="collapse"
                                data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <!-- * Seccion de comentarios y cantidad
                                * Comments - {% comment %}{{ comments|length }}{% endcomment %} -->
                            </button>
                        </h2>
                    </div>
                    
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                        data-parent="#accordionExample">
                        <div class="card-body" id="comments">
                            {% for comment in comments %}
                            <div class="comment card">
                                <div class="card-header">
                                    <h6 class="card-subtitle">{{ comment.title }}</h6>
                                </div>
                                <div class="row">
                                    <div class="col-3 col-lg-2">

                                        <img src="{{ comment.author.avatar.url }}" alt="" class="img-thumbnail" style="width: 120px !important; height: 120px !important; object-fit: cover; object-position: center;">
                                        
                                    </div>
                                    <div class="col">
                                        <div class="card-body">

                                            <p class="card-text">
                                                {{ comment.content }}
                                               
                                            </p>
                                        </div>
                                    </div>
                                </div>

                            {% for comment in comments.comments %}
                            <!-- Comentarios del comentario -->
                            <div class="comment row">
                                    <div class="col-2">
                                        <img src="{{ comment.author.avatar.url }}" alt="">

                                    </div>
                                    <h6 class="h3">{{ comment.author.username }}  says:</h6>
                                
                                <p class="card-text">
                                    {{ comment.content }}
                                </p>
                                <div class="card-footer">
                                    <div class="votes">
                                        <a href="#" class="upvote"><i class="fas fa-arrow-up"></i></a>
                                        <a href="#" class="downvote"><i class="fas fa-arrow-down"></i></a>

                                    </div>
                                    <p>
                                        <!-- * Aqui indica cuando se posteo el comentario --> 
                                        Posted {{new.date_created}}
                                    </p>

                                </div>
                            </div>
                            {% endfor %}
                            

                           

                            </div>
                        </div>
                    </div>
                </div>

                <div class="leave-comment-box">
                    <h3>Wanna Leave a comment?, go share it!</h3>
                    <div class="row">
                        <div class="col-2"></div>
                    </div>
                    <form method="POST" class="d-flex flex-wrap">
                        {% csrf_token %}
                        <textarea class="form-control-plaintext bg-light w-100 " name="" id="" cols="30" rows="10"></textarea>
                        <button class="btn btn-primary my-4  px-4 py-2 font-weight-bold ml-auto" type="submit">Post</button>
                    </form>
                </div>
                <div>
                    {% for tag in new.tags %}
                    <a href="#" class="tag d-inline-block {% if not forloop.first %}mx-2{% else %}mr-2{% endif %}">{{ tag.name }}</a>
                    {% endfor %}
                </div>
                <div class="social-links ">
                    {% for link in new.author.links %}
                    <!-- * aqui van todos los links a las redes sociales -->
                    {% endfor %}
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-google"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-whatsapp"></i></a>
                    
                </div>
            </div>
        </div>
    </section>

</body>

</html>