<section>
    <article id="new-article">
        <div>
            <img src="" alt="">
            <p>Yuri Gagarin</p>
            <p>created 24/04/2020</p>
            <p>updated 25/04/2020</p>
            <p>5min read</p>
            <div class="user-contact-icons">
                <i class="fab fa-telegram"></i>
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-google"></i>
                
               
            </div>
            
        </div>
        <div>
            <p></p>
        </div>
        <div>
    
        </div>
    </article>
    <div class="comment-div">
       <div class="write-comment">
            <textarea name="comment" id="" cols="30" rows="10"></textarea>
       </div> 
    </div>
    
</section>
