{% load static %}
{% url 'training' as training %}
{% url 'video_details' as video_details %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'webfonts/opensans/style.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-4.5/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap-4.5/bootstrap.min.js' %}"></script>

</head>

<body class="bg-light">
    <header>
        {% include 'core/navbar.html' %}
    </header>
    {% comment %}
    <aside>
        {% include 'core/userbar.html' %} 
    </aside>
    {% endcomment %}
    
    <div class="container-fluid py-5" id="site-container">
        <div class="row">
            <div id="site-content" class="col-12 col-lg no-gutters">
   
                {% block content %}
                {% endblock %}
      
            </div>
            {% if training in request.path %}
            <div class="col-12 col-lg-3 transparent" id="gadgets-section">
                <div class="card" id="post-gadget">
                    <div class="card-body">
                        <h5 class="card-title">Ult. Posts</h5>
                        <ul class="list-group">
                            <li class="list-group-item mb-2">
                                <a href="#" class="media text-center text-dark text-decoration-none">
                                    <div>
                                        <img src="{{ request.user.profile.avatar.url }}" alt="" class="">
                                        <div></div>
                                        <span class="">{{ request.user.username }}</span>
                                        <div></div>
                                        <span>3d</span>
                                    </div>
                                    <div class="media-body ml-2">
                                        <h6>La salsa de las dremoras silenciosas</h6>
                                    </div>
                                </a>
                            </li> 
                            <li class="list-group-item mt-2">
                                <a href="#" class="media text-center text-dark text-decoration-none">
                                    <div>
                                        <img src="{{ request.user.profile.avatar.url }}" alt="" class="">
                                        <div></div>
                                        <span class="">{{ request.user.username }}</span>
                                        <div></div>
                                        <span>3d</span>
                                    </div>
                                    <div class="media-body ml-2">
                                        <h6 class="my-0">La bella y la bestia</h6>
                                
                                    </div>
                                </a>
                            </li> 
                        </ul>

                    </div>
                </div>
               
                {% if request.path in video_details %}
                <div class="card mt-4" id="playlist">
                    <div class="card-header">
                        <h2>Playlist</h2>
                    </div>
                    <div class="card-body">
                        <h4 class="card-subtitle">{{ video.playlist.1.name }}</h4>
                        <span class="divisor" style="display: inline-block; margin: .5rem 0; width: 90%; height: 2px; background-color: black;"></span>
                        <div class="d-flex flex-column justify-content-start">
                            {% for video in videos %}
                            <a class="playlist-item media">
                                <video src="{{ video.video.url }}" alt="" class="playlist-item-image">
                                </video>
                                <div class="media-body">
                                    <h6>{{ video.title }}</h6>
                                    <span><i class="fas fa-eye"></i><span>21</span></span>
                                    <span>55 min</span>
                                </div>
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
            {% endif %}

        </div>
      
        
        
        

    </div>

    {% include 'core/circle-menu.html' %}
    
        
 
    {% include 'core/footer.html' %}

    

    
</body>

</html>