{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'webfonts/opensans/style.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-4.5/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/navbar.css' %}">
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap-4.5/bootstrap.min.js' %}"></script>
</head>

<body class="bg-light">

    {% include 'core/navbar.html' %}

    <div class="" id="home-cover">
        <div id="dark-layer">

            <div id="dark-layer-box">
                <div id="dark-layer-text-box">
                    <h1 class="layer-title">Gana un Matematico Trofeo</h1>
                    <h2 class="layer-subtitle">Unete a una comunidad de estudiantes y alumnos entusiastas de toda Cuba
                        cuyos esfuerzos estan dirigidos hacia el Concurso Nacional de Matematicas.</h6>
                </div>
                <div id="dark-layer-buttons-box">
                    <button class="btn btn-success">Unete!</button>
                    <button class="btn btn-primary">O Unete!</button>
                </div>
            </div>
        </div>
        <img src="{% static 'core/img/home-cover1.jpg' %}" class="" alt=""
            style="width: 100%;  height: calc(100vh-400px) !important; display: inline-block; object-fit: cover; object-position: center;">

    </div>
    <h2 id="home-subtitle" class="text-center mt-5">Que Ofrecemos ?</h2>
    <div style=""></div>
    <div id="history">
        <div class="history-card">
            <img src="{% static 'core/img/pensando.svg' %}" alt="">
            <p class="history-content">
                Actualmente estudiar consistentemente y de una manera rentable no puede ser mas dificil, no tienes una manera practica y fiable de comprobar tus soluciones. Estas por tu cuenta.
            </p>
        </div>
        <div class="history-card">
            <p class="history-content">
                Sin embargo, compartir tus soluciones, dudas, hallazgos con otros estudiantes y en respuesta mejorarlas, no podria ser mejor!
            </p>



            <img src="{% static 'core/img/messages.svg' %}" alt="">

        </div>
        <div class="history-card">
            <img src="{% static 'core/img/professor.svg' %}" alt="">
            <p class="history-content">Con OlyMath, la aplicacion web en la que te encuentras, tienes garantizado un aprendizaje online, 24 horas y con profesores de matematica de toda Cuba.</p>
        </div>
        <div class="history-card">
            <div class="history-content">
                <p>Enfrentate desde tu casa, parque, donde sea! a un aluvion de ejercicios, todos clasificados y disponibles segun el nivel en el que te encuentres, a mayor nivel, mayor sera el desafio!</p>
                <button class="btn btn-success d-block ml-auto mr-5">Unete!</button>
            </div>
            <img src="{% static 'core/img/research_layed.svg' %}" alt="">
        </div>
        <div class="history-card">
            <div class="history-content">
                <p>O podrias arreglar una cita presencial con profesores de tu preferencia.</p>
                <button class="btn btn-success d-block ml-auto mr-5">Unete!</button>
            </div>
            <img src="{% static 'core/img/pupitres.svg' %}" alt="">
        </div>
    </div>

    <div id="svg-features">

    </div>
    <h2 id="features-title" class="text-center">Porque Nosotros ?</h2>
    <div style=""></div>
    <div id="features-box">
        <div class="feature">
            <div class="feature-icon-box">
                <i class="fas fa-shield-alt feature-icon"></i>
            </div>
            <h6>Seguro</h6>
            <p class="feature-text">
                Aseguramos <strong>transparencia</strong> y <strong>seguridad</strong> en cualquier tipo de informacion que nos provea.

            </p>
        </div>
        <div class="feature">
            <div class="feature-icon-box">
                <i class="fas fa-comments feature-icon"></i>
            </div>
            <h6>Comenta</h6>
            
            <p class="feature-text">
                Tenga <strong>participacion</strong> en <strong>cualquiera</strong> de las noticias publicadas y articulos de la aplicacion.

            </p>
        </div>
        <div class="feature">
            <div class="feature-icon-box">
                <i class="fas fa-bolt feature-icon"></i>
            </div>
            <h6>Como un Rayo</h6>
            <p class="feature-text">
                Nuestro sitio web es <strong>rapido</strong>, asi como la respuesta del <strong>staff</strong> del sitio, asi que no dude en hacer uso de sus servicios. 
            </p>
        </div>
        <div class="feature">
            <div class="feature-icon-box">
                <i class="fas fa-trophy feature-icon"></i>
            </div>
            <h6>Orientado a concursos</h6>
            <p class="feature-text">
                Acceda a informacion <strong>clasificada</strong> y <strong>analizada</strong> para asegurar su <strong>victoria</strong> en cualquier concurso.
            </p>
        </div>
        <div class="feature">
            <div class="feature-icon-box">
                <i class="fas fa-network-wired feature-icon"></i>
            </div>
            <h6>Todos Conectados</h6>
            <p class="feature-text">
                <strong>Pregunte</strong>, <strong>analice</strong>, <strong>cuestione</strong> con los demas usuarios del sitio. El beneficio de la duda es de <strong>todos</strong>.
            </p>
        </div>
        <div class="feature">
            <div class="feature-icon-box">
                <i class="fas fa-infinity feature-icon"></i>
            </div>
            <h6>Ilimitado</h6>
            <p class="feature-text"><strong>Siempre</strong> conectado, nuestro servicio esta orientado a servir durante las <strong>24 horas</strong> del dia.</p>
        </div>
    </div>
    {% include 'core/footer.html' %}

    
</body>

</html>
