{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<title>CMMD | Home</title>
<link rel="stylesheet" href="{% static 'core/css/home.css' %}">
    <section id="recent-news">
        <div class="container-fluid h-100">
            <h3 class="my-5 text-center text-uppercase">latest news</h3>
            
            {% for new in news %}
            <div class="card new py-5">
               <div class="card-header">
                    <img src="{{new.img.url}}" class="card-img" alt="">
                    <p class="card-title">
                        {{new.title}}
                    </p>
    
               </div>
               <div class="card-body">
                    <p class="card-text">
                        Redactado por <img src="{{}}" alt=""><a href="">{{new.author.username}}</a>
                    </p>
                    
               </div>
               <div class="card-footer">
                    <span class="fas fa-thumbs-up"></span>
                    <span class="fas fa-thumbs-down"></span> | 
                    
               </div>

            </div>
            {% endfor %}
    
        </div>
    </section>
    
{% endblock %}