
            {% url 'home' as home %}
            {% url 'forum' as forum %}
            {% url 'news' as news %}
            {% url 'history' as history %}
            {% url 'videos' as videos %}
            {% url 'downloads' as downloads %}
            {% url 'training' as training %}
            {% url 'dashboard' as dashboard %}

{% load static %}
<link rel="stylesheet" href="{% static 'core/css/navbar.css' %}">
<nav class="navbar navbar-expand-lg navbar-mainbg">
    <a class="navbar-brand navbar-logo px-3" href="#">
   <svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   id="svg8"
   version="1.1"
   viewBox="0 0 166.98975 188.82774"
   height="713.67969"
   width="631.14233">
  <defs
     id="defs2" />
  <metadata
     id="metadata5">
    <rdf:RDF>
      <cc:Work rdf:about="">ds
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     transform="translate(-22.553646,-51.259571)"
     style="display:none;opacity:0.49500002"
     id="layer1">
    <g
       style="opacity:1;fill:#00abc8;fill-opacity:1;stroke:none;stroke-width:2.4000001;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke"
       id="g921">
      <path
         points="40.193431,136.88748 123.4774,124.01702 123.4774,79.678422 40.193431,65.293051 "
         d="M 40.193431,65.293051 V 136.88748 L 123.4774,124.01702 V 79.678422 Z"
         style="fill:#353564;fill-rule:evenodd;stroke:none;stroke-width:2.71873212;stroke-linejoin:round"
         id="path923" />
      <path
         points="123.23763,192.24607 207.18335,137.09591 123.4774,124.01702 40.193431,136.88748 "
         d="m 40.193431,136.88748 83.044199,55.35859 83.94572,-55.15016 -83.70595,-13.07889 z"
         style="fill:#afafde;fill-rule:evenodd;stroke:none;stroke-width:2.71873212;stroke-linejoin:round"
         id="path931" />
      <path
         points="207.18335,65.060091 207.18335,137.09591 123.4774,124.01702 123.4774,79.678422 "
         d="M 123.4774,79.678422 207.18335,65.060091 V 137.09591 L 123.4774,124.01702 Z"
         style="fill:#e9e9ff;fill-rule:evenodd;stroke:none;stroke-width:2.71873212;stroke-linejoin:round"
         id="path933" />
      <path
         points="123.23763,3.4185071 207.18335,65.060091 123.4774,79.678422 40.193431,65.293051 "
         d="M 40.193431,65.293051 123.23763,3.4185071 207.18335,65.060091 123.4774,79.678422 Z"
         style="fill:#4d4d9f;fill-rule:evenodd;stroke:none;stroke-width:2.71873212;stroke-linejoin:round"
         id="path925" />
      <path
         points="123.23763,192.24607 207.18335,137.09591 207.18335,65.060091 123.23763,3.4185071 "
         d="M 123.23763,3.4185071 V 192.24607 l 83.94572,-55.15016 V 65.060091 Z"
         style="fill:#ffd790;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:2.71873212;stroke-linejoin:round"
         id="path929" />
      <path
         points="123.23763,3.4185071 123.23763,192.24607 40.193431,136.88748 40.193431,65.293051 "
         d="M 40.193431,65.293051 123.23763,3.4185071 V 192.24607 L 40.193431,136.88748 Z"
         style="fill:#e5a34f;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:2.71873212;stroke-linejoin:round"
         id="path927" />
    </g>
    <g
       style="fill:#e38d56;fill-opacity:0.83946491"
       id="g949">
      <path
         style="fill:#e38d56;fill-opacity:0.83946491;stroke:#000000;stroke-width:0.26458332px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         d="m 36.081385,132.62924 v 46.23763 l 40.150819,23.18108 v -92.93843 z"
         id="path935" />
      <path
         style="fill:#e38d56;fill-opacity:0.83946491;stroke:#000000;stroke-width:0.26458332px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         d="m 36.081385,178.86687 14.432555,-6.68174 25.390604,12.82894"
         id="path939" />
      <path
         style="fill:#e38d56;fill-opacity:0.83946491;stroke:#000000;stroke-width:0.26458332px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         d="M 50.51394,172.18513 50.246671,134.23285 36.081385,132.62924"
         id="path941" />
      <path
         style="fill:#e38d56;fill-opacity:0.83946491;stroke:#000000;stroke-width:0.26458332px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         d="M 50.246671,134.23285 76.171816,121.40392"
         id="path943" />
    </g>
    <path
       id="path951"
       d="m 76.171816,121.40392 -25.925145,12.82893 0.267269,37.95228 25.390604,12.82894 0.267272,-63.61015"
       style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:0.26458332px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
    <path
       id="path953"
       d="M 17.639784,122.20573 100.68398,60.331185 184.6297,121.97277 v 72.03581 l -83.94572,55.15017 -83.044196,-55.35859 z"
       style="fill:none;stroke:#000000;stroke-width:0.26458332px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
    <path
       id="path955"
       d="M 100.68398,60.331185 V 249.15875"
       style="fill:none;stroke:#000000;stroke-width:0.26458332px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
    <path
       id="path957"
       d="m 138.31198,87.995228 11.49259,57.730222 9.88897,-42.36222 h -18.14146"
       style="fill:none;stroke:#000000;stroke-width:0.26458332px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
    <path
       id="path959"
       d="m 121.07309,235.26074 5.3454,-90.06983 20.84702,72.69731 13.89801,-8.8199 8.81989,-55.59206 5.3454,46.5049"
       style="fill:none;stroke:#000000;stroke-width:0.26458332px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
    <path
       id="path961"
       d="m 147.26551,217.88822 -24.5888,-9.88897"
       style="fill:none;stroke:#000000;stroke-width:0.26458332px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
    <path
       id="path963"
       d="m 175.32881,199.98116 -11.75986,-5.07812"
       style="fill:none;stroke:#000000;stroke-width:0.26458332px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
  </g>
  <g
     transform="translate(-22.553646,-51.259571)"
     id="layer2">
    <g
       transform="translate(4.9136905,-9.0714286)"
       id="g1205">
      <path
         style="fill:#ffc07d;fill-opacity:1;stroke:none;stroke-width:0.26458332px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         d="m 184.6297,121.97277 -24.93616,-18.60954 -9.88897,42.36222 -11.49259,-57.730223 -37.628,-27.664042 V 249.15875 l 20.38911,-13.89801 5.3454,-90.06983 20.84702,72.69731 13.89801,-8.8199 8.81989,-55.59206 5.3454,46.5049 9.30089,-5.97258 z"
         id="path966" />
      <g
         id="g1193">
        <path
           style="fill:#dd683a;fill-opacity:1;stroke:none;stroke-width:0.26458332px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
           d="m 36.081425,132.62922 14.165286,1.60361 26.16138,-12.82893 -0.175845,-12.2944 z"
           id="path1157" />
        <path
           style="fill:none;stroke:none;stroke-width:0.26458332px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
           d="M 50.246711,134.23283 36.081425,132.62922"
           id="path1159" />
        <path
           style="fill:#dd683a;fill-opacity:1;stroke:none;stroke-width:0.26458332px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
           d="m 36.081425,132.62922 v 46.23763 c 7.571731,0.10416 10.708068,-3.53712 14.432555,-6.68174 l -0.267269,-37.95228 c -4.572752,-0.58421 -9.217941,-1.14427 -14.165286,-1.60361 z"
           id="path1161" />
        <path
           style="fill:#dd683a;fill-opacity:1;stroke:none;stroke-width:0.26458332px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
           d="m 141.55212,103.36321 h 18.14146 l -9.88897,42.36222 z"
           id="path1170" />
        <path
           style="fill:#dd683a;fill-opacity:1;stroke:none;stroke-width:0.26458332px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
           d="m 122.67675,207.99923 24.5888,9.88897 -20.84702,-72.69731 z"
           id="path1172" />
        <path
           style="fill:#dd683a;fill-opacity:1;stroke:none;stroke-width:0.26458332px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
           d="m 161.16356,209.0683 8.81989,-55.59206 5.3454,46.5049 -11.75986,-5.07812"
           id="path1174" />
        <path
           id="path1184"
           d="m 36.081425,178.86685 14.432554,-6.68174 25.85493,11.22395 -0.136665,18.63887 z"
           style="fill:#dd683a;fill-opacity:1;stroke:none;stroke-width:0.26458332px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
      </g>
      <path
         id="path968"
         d="m 100.68398,60.331 -83.044025,61.87426 v 71.59459 l 83.044025,55.3589 z m -24.451736,48.77842 v 92.93851 L 36.081207,178.8664 v -46.23749 z"
         mask="none"
         style="fill:#ff925a;fill-opacity:1;stroke:none;stroke-width:0.26458332px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
    </g>
  </g>
</svg>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars text-white"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="">
        <ul class="navbar-nav ml-auto">
            <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
            
            <li class="nav-item {% if home in request.path %}active{% endif %}">
                <a class="nav-link" href="{{ home }}"><i class="fas fa-home"></i>Home</a>
            </li>
            <li class="nav-item {% if forum in request.path %}active{% endif %}">
                <a class="nav-link " href="{{ forum }}"><i class="far fa-comments"></i>Forum</a>
            </li>
            <li class="nav-item {% if news in request.path %}active{% endif %}">
                <a class="nav-link " href="{{ news }}"><i class="fas fa-newspaper"></i>Noticias</a>
            </li>
            <li class="nav-item {% if training in request.path %}active{% endif %}">
                <a class="nav-link" href="{{ training }}"><i class="fas fa-weight"></i>Entrenamiento</a>
            </li>
            <li class="nav-item {% if history in request.path %}active{% endif %}">
               <a href="{{ history }}" class="nav-link"><i class="fas fa-history"></i>Historia</a>
            </li>
            <li class="nav-item {% if downloads in request.path %}active{% endif %}">
               <a href="{{ downloads }}" class="nav-link"><i class="fas fa-file-download"></i>Downloads</a>
            </li>
            <li class="nav-item {% if videos in request.path %}active{% endif %}">
               <a href="{{ videos }}" class="nav-link"><i class="fas fa-video"></i>Video</a>
            </li>
            <li class="nav-item {% if dashboard in request.path %}active{% endif %}">
                <a class="nav-link" href="{{ dashboard }}" style="overflow: hidden;"><i class="fas fa-tachometer-alt"></i>Dashboard</a>
            </li>
        </ul>
    </div>
</nav>

<script src="{% static 'core/js/navbar.js' %}"></script>
<script>
 
</script>