@charset "UTF-8";
h1 {
  color: #FFB47B;
  font-size: 1.8em;
}

#video-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

#video-list .video-card {
  background-color: white;
  transition: transform .5s ease;
  position: relative;
  margin: calc(1em + 20px) 0;
  flex-basis: 100%;
}

#video-list .video-card video {
  width: 100%;
  object-position: center;
  object-fit: cover;
  box-shadow: 0 16px 8px rgba(0, 0, 0, 0.162);
}

#video-list .video-card .video-card-content {
  padding: .8em;
  border: solid 1px #FFB47B;
  border-top: none;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#video-list .video-card .video-card-content a.video-card-title {
  display: inline-block;
  color: #FFB47B;
  font-size: 1.2em;
  line-height: 1em;
}

#video-list .video-card i {
  color: #FFB47B;
}

#video-list .video-card .video-card-tags {
  margin-top: .6em;
}

#video-list .video-card .video-card-tags .tag {
  background-color: #FFB47B;
  color: white;
  padding: .2em .4em;
  font-size: .8em;
  margin: .1em;
  border-radius: 3px;
  transition: background-color .3s ease-out;
}

#video-list .video-card .video-card-tags .tag:hover {
  background-color: #F78640;
}

@media (min-width: 550px) {
  #video-list .video-card {
    flex-basis: 45%;
  }
}

@media (min-width: 768px) {
  #video-list .video-card {
    flex-basis: 30%;
  }
}

#video-list .video-card-float {
  transform: translate(0, -40px);
}

#filters {
  box-sizing: border-box;
  display: flex;
  margin: 0 auto;
  margin-bottom: 1em;
  width: 100%;
  font-size: .8em;
  background-color: white;
  flex-wrap: wrap;
  padding: 1.8em;
}

@media (min-width: 768px) {
  #filters {
    width: 75%;
  }
}

#filters h2#filters-title {
  width: fit-content;
  color: white;
  font-size: 1.6em;
  margin: 0 auto;
  margin-bottom: .6em;
  text-align: center;
  border-bottom: solid 2px #FFB47B;
  padding: .6em;
  background-color: #FFB47B;
  border-radius: 15px;
}

#filters button[type="submit"] {
  padding: 1em;
  background-color: #FFB47B;
  transition: background-color .3s ease;
  outline: none;
  border: none;
  color: white;
  width: 100%;
  margin-top: 1.8em;
}

#filters button[type="submit"]:hover {
  background-color: #F78640;
}

#fields {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

/**
      * Make the field a flex-container, reverse the order so label is on top.
      */
.field {
  box-sizing: border-box;
  display: flex;
  flex-flow: column-reverse;
  margin: 0 1em;
  margin-bottom: 1em;
  width: 40% !important;
  font-size: .8em;
  padding: initial 2em !important;
  /**
  * Add a transition to the label and input.
  * I'm not even sure that touch-action: manipulation works on
  * inputs, but hey, it's new and cool and could remove the 
  * pesky delay.
  */
  /**
  * Translate down and scale the label up to cover the placeholder,
  * when following an input (with placeholder-shown support).
  * Also make sure the label is only on one row, at max 2/3rds of the
  * field—to make sure it scales properly and doesn't wrap.
  */
  /**
  * By default, the placeholder should be transparent. Also, it should 
  * inherit the transition.
  */
  /**
  * Show the placeholder when the input is focused.
  */
  /**
  * When the element is focused, remove the label transform.
  * Also, do this when the placeholder is _not_ shown, i.e. when 
  * there's something in the input at all.
  */
}

.field * {
  box-sizing: inherit;
}

@media (min-width: 768px) {
  .field {
    width: 100%;
  }
}

.field:not(:first-child):not(:last-child) {
  padding: 0 .6em;
}

@media (min-width: 768px) {
  .field:not(:first-child):not(:last-child) {
    padding: 0;
  }
}

.field:first-child {
  padding-right: .6em;
}

.field:last-child {
  padding-left: .6em;
}

.field label, .field input {
  transition: all 0.2s;
  touch-action: manipulation;
}

.field input {
  background-color: white;
  color: black;
  font-size: 1.5em;
  border: 0;
  border-bottom: 3px solid white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family: inherit;
  -webkit-appearance: none;
  border-radius: 0;
  border-bottom: 2px solid #FFB47B;
  padding: 0;
  cursor: text;
}

.field input:focus {
  outline: 0;
  border-bottom: 2px solid #F78640;
}

.field label {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: black;
  font-size: .8em !important;
}

.field input:placeholder-shown + label, .field textarea:placeholder-shown + label {
  cursor: text;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  transform: translate(0, 2.125rem) scale(1.5);
}

.field ::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}

.field input:focus::-webkit-input-placeholder {
  opacity: 1;
}

.field input:not(:placeholder-shown) + label,
.field input:focus + label {
  transform: translate(0, 0) scale(1);
  cursor: pointer;
  display: flex;
  justify-content: start;
  width: fit-content;
  background-color: #F78640;
  color: white;
  font-weight: bolder;
  border-radius: 5px;
  padding: 0 .4em;
}
/*# sourceMappingURL=videos.css.map */